@charset "UTF-8";
/* Сброс стилей reset.css /

/* Указываем box sizing */
.testing {
  width: 42.85714%; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/* css */
html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }
  html, body {
    height: 100%;
    overflow-x: hidden;
  }
  .bg-img {
     width: 100%;
  }
  .wrapper {
    position: relative;
    .wrapper__h4 {
      padding-top: 30px;
      .wrapper__h4_title {
        color: #25a5cc;
      }
    }
    .wrapper__p {
      padding-left: 30px;
      padding-top: 20px;
    }
    .wrapper__button1 {
      background: #25a5cc;
      color: #ffffff;
      margin-top: 30px;
      margin-left: 30px;
      border-radius: 15px;
      width: 23%;
    }
    .wrapper__button2 {
      background: #1f2e36;
      color: #ffffff;
      margin-top: 30px;
      margin-left: 30px;
      border-radius: 15px;
      width: 23%;
    }
    .wrapper__modal {
      border-left: 3px solid #25a5cc;
      background-color: #ffffff;
      position: absolute;
      width: 40%;
      height: 50%;
      top: 100px;
      left: 260px;
      overflow: hidden;



    }
  }
  .bg_1 {
    height: 200px;
    padding-top: 60px;
    background: #25a5cc;
  }
  .bg_1__button {
    width: 160px;
    height: auto;
    border-radius: 20px;
    background-color: #25a5cc;
    border: 1px solid #ffffff;
   
  }
  .bg_1__text {
    color: #ffffff;
  }
  .bg_2__row {
    margin-top: 40px;
    .bg_2__block1 {
      margin: 20px 10px;
      padding: 10px; 
      overflow: hidden;
      .bg_2__img-block {
        padding-top: 10px;
      }
    }
    .bg_2__block2 {
      margin: 20px 10px;
      padding: 10px;
      overflow: hidden;
      .bg_2__img-block {
        margin-top: 10px;
      }
    }
  }
  .bg_2__img {
    padding-left: 150px;
    margin-top: 50px;
  }
  .bg_2__h3 {
    margin-top: 50px;
  }
  .bg_2__text-block {
    width: 320px;
    float: right;
   
  }
  .bg_2__block1, .bg_2__block2 {
    min-height: 120px;
  }
  .col-sm-6::after {
    content: '';
    clear: both;
    display: block;
  }
  .bg_3 {
    background-color: #25a5cc;
    .bg_3__row {
       margin: 70px 0;
      .bg_3__wrapper {
        width: 80%;
        border: 2px solid #ffffff;
        margin: 20px auto;
        padding: 40px 20px;
        position: relative;
        .bg_3__icon {
          position: absolute;
          width: 100px;
          background-color: #25a5cc;
          left: 50px;
          top: -10px;
          .bg_3__img {
            margin: 0 auto;
          }
        }
        .bg_3__h3, .bg_3__p {
          color: #ffffff;
        }
      }
    }
  }

  .bg_4 {
    margin-top: 50px;
    .col-sm-4 {
      margin: 10px 0;
      .bg_4__img {
        display: inline-block;
      }
    }
    .bg_4__h4 {
      font-size: 20px;
    }
    .bg_4__p {
      margin-top: 40px;
    }
  }
  .bg_4__block {
    border: 1px solid #c0c0c0;
    overflow: hidden;
    margin: 15px 0;
    padding: 10px;
  }
  .bg_4__img {
    display: inline-block;
  }
  .bg_4__col-4 {
    width: 80%;
    float: right;
  }
  .bg_5 {
    background-color: #25a5cc;
    .bg_5__row {
      margin-top: 50px;
      padding-bottom: 50px;
    }
    .bg_5__img-1, .bg_5__img-2 {
      margin: 0 auto;
    }
    .bg_5__h4 {
     color: #ffffff;
     padding-top: 50px;
    }
    .bg_5__h5 {
      color: #ffffff;
      margin-top: 30px;
    }
    .bg_5__text {
      color: #ffffff;
    }
  }
  .bg_6 {
    padding-bottom: 50px;
    .bg_6__h4 {
      margin-top: 50px;
      padding-bottom: 50px;
    }
    .bg_6__row-1 {
      padding-bottom: 30px;
    }
  }
  .footer {
    background-color: #1f2e36;
    .footer__row {
      padding: 50px 0;
    }
    .footer__h4 {
      color: #ffffff;
      margin-bottom: 20px;
    }
    .footer__block1, .footer__block2, .footer__block3, .footer__block4, .footer__block-1, .footer__block2, .footer__block-3 {
      margin: 10px 0;
      .footer__img1, .footer__img2, .footer__img3, .footer__img4 {
        display: inline-block;
      }
    }
    .footer__p-1, .footer__p-2, .footer__p-3, .footer__p-4, .footer__p1, .footer__p2, .footer__p3 {
      color: #ffffff;
      display: inline-block;
    }
    .footer__p-1 {
      br {
        display: none;
      }
    }
    .footer__block-1 {
      .footer__img-1 {
        display: inline-block;
      }
    }
    .footer__block-2 {
      .footer__img-2 {
        display: inline-block;
      }
    }
    .footer__block-3 {
      .footer__img-3 {
        display: inline-block;
      }
    }
  }
  @media (max-width: 768px) {
    .wrapper {
      .wrapper__modal {
        display: none;
      }
    }
     .bg_1 {

     }
     .bg_2 {
       .bg_2__img {
        margin-top: 80px;;
        padding-left: 20px;
       }
       .bg_2__row {
         .bg_2__block1 {
          margin: 0;
           .bg_2__text-block {
             margin-right: 0;
             width: 80%;
           }
         }
         .bg_2__block2 {
           margin: 0;
           .bg_2__text-block {
             margin-right: 0;
             width: 80%;
           }
         }
       }
     }
     .bg_3 {
      .bg_3__row {
        .bg_3__wrapper {
          .bg_3__icon {
            left: 80px;
          }
        }
      }
     }
     .footer {
       .footer__row {
         .footer__block1, .footer__block2, .footer__block3, .footer__block4 {
           .footer__img1, .footer__img2, .footer__img3, .footer__img4 {
             display: inline-block;
           }
           .footer__p-1 {
             br {
               display: block;
             }
           }
           .footer__img1 {
             padding-bottom: 10px;
             
           }
         }
         .footer__block-1 {
           position: relative;
           .footer__img-1, .footer__img-2, .footer__img-3 {
             display: inline-block;
             position: absolute;
             bottom: 30px;
           
           }
           .footer__p1 {
             width: 80%;
             padding-left: 70px;
           }
         }
         .footer__block-2 {
          .footer__img-2 {
            display: inline-block;
             position: absolute;
             bottom: 120px;
          }
           .footer__p2 {
             width: 80%;
             padding-left: 70px;
           }
         }
         .footer__block-3 {
           .footer__img-3 {
            display: inline-block;
            position: absolute;
            bottom: 40px;
           }
           .footer__p3 {
             width: 80%;
             padding-left: 70px;
           }
         }
       }
     }
  }
    
  
  